* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 2vw;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* App Component */
.App {
  margin: 2vw 4vw;
}

/* Header Component */
.Header { 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: royalblue;
  margin: auto 4vw;
  height: 10vw;
}

/* StateContent Component */
.StateContent {
  margin: 2vw auto;
}

.StateContent p {
  margin: 2vw auto;
}

.StateContent .button {
  padding: 1vw 2vw;
  font-size: 2vw;
  color: white;
  background-color: royalblue;
  border: none;
}

.StateContent .double-click {
  display: inline-block;
  width: 20%;
  text-align: center;
  color: royalblue;
  padding: 2vw auto;
  line-height: 4vw;
  cursor: pointer;
}

/* ListContent Component */
.ListContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ListContent ul {
  list-style-type: none;
  width: 60%;
  text-align: left;
  padding: 0 10vw;
  display: flex;
  flex-direction: column;
}

.ListContent .list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  padding: 1vw 2vw;
}

.ListContent .list-item input[type="checkbox"] {
  appearance: none;
  background-color: white;
  margin: 0;
  font: inherit;
  color: black;
  width: 5vw;
  height: 5vw;
  border: 2px solid black;
  border-radius: 3px;
}

.ListContent .list-item input[type="checkbox"]:checked {
  background-color: lightgreen;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjAuMjg1IDJsLTExLjI4NSAxMS41NjctNS4yODYtNS4wMTEtMy43MTQgMy43MTYgOSA4LjcyOCAxNS0xNS4yODV6Ii8+PC9zdmc+");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  background-origin: content-box;
}

.ListContent .list-item label {
  width: 50%;
  padding: 2vw;
}

.ListContent .icon-trash {
  float: right;
  color: royalblue;
  font-size: 4vw;
}

.ListContent .icon-trash:hover {
  color: red;
}

/* AddItem Component */
.AddItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 4vw 0;
}

.AddItem .form-additem {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.AddItem label, .AddItem input {
  padding: 1vw 2vw;
}

.AddItem button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: royalblue;
  color: white;
  border: 2px solid royalblue;
  border-radius: 0 5px 5px 0;
  padding: 1vw;
}

.AddItem button:hover {
  background-color: green;
  border-color: green;
}

.AddItem input {
  border: 2px solid royalblue;
  border-radius: 5px 0 0 5px;
}

/* SearchItem Component */
.SearchItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 4vw 0;
}

.SearchItem label, .SearchItem input {
  padding: 1vw 2vw;
}

.SearchItem input {
  border: 2px solid royalblue;
  border-radius: 5px;
}

/* Footer Component */
.Footer p {
  font-weight: 600;
  text-align: center;
  margin: 4vw 0;
}