* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 2vw;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  margin: 2vw 4vw;
}

.Header { 
  color: royalblue;
}

.Content {
  margin: 2vw auto;
}

.Content p {
  margin: 2vw auto;
}

.Content--button {
  padding: 1vw 2vw;
  font-size: 2vw;
  color: white;
  background-color: royalblue;
  border: none;
}

.Content--double-click {
  display: inline-block;
  width: 20%;
  text-align: center;
  color: royalblue;
  padding: 2vw auto;
  line-height: 4vw;
  cursor: pointer;
}

.Footer p {
  font-weight: 600;
}
